<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="org.study.home.mapper.AdminMapper">
<insert id="shipEnroll">
  	
  		insert into shipTBL(shipName, shipPrice, shipStock, shipIntro)
		values(#{shipName},#{shipPrice},#{shipStock},#{shipIntro})

  	</insert>
<!--   상품 리스트  -->
   <select id="goodsGetList" resultType="org.study.home.model.ShipDTO">
   
      select  shipId,shipName, shipStock, a.regDate
      from shipTBL a 
      <if test="keyword != null">
         where (shipName like concat ('%', #{keyword}, '%'))
      </if>
      order by shipId desc 
      limit #{skip}, #{amount}      
   
   </select>
   
   
<!--    상품 총 갯수 -->
     <select id="goodsGetTotal" resultType="int">
     
        select count(*) from shipTBL
        
        <if test="keyword != null">
        
           where shipName like concat('%' , #{keyword}, '%')
        
        </if>
     
     </select>
     
     <select id="goodsRead" resultType="org.study.home.model.ShipDTO">
      SELECT * FROM shipTBL WHERE shipId = #{shipId}
   </select>
   
   
   <update id="goodsUpdate">

		UPDATE shipTBL SET shipName = #{shipName},shipPrice
		= #{shipPrice},shipStock = #{shipStock},shipIntro =
		#{shipIntro} WHERE shipId = #{shipId}
	</update>

  </mapper>